.picture {
    width: 100%;
    height: 500px;
    position: relative;
    background-image: url("../pictures/libBG.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.search-bar {
    position: absolute;
    top: 45%;
    left: 35%;
    width: 30%;
}
.search-bar > input {
    width: 100%;
}
